<div id="wrapper3" class="no-padding">
    <div id="portfolio" class="container">
        <h2 class="o-nama">O NAMA</h2>
        <p>Gallonero je počeo sa radom 1. Oktobra 2016. godine u Novom Sadu sa željom da se nadoknadi nedostatak vrhunske usluge na polju proizvodnje i dostave hrane.</p>
        <p>
            Ideja se godinama razvijala do svoje realizacije.
            Uspeli smo da italijanski specijalitet, popularan u celom svetu,
            prilagodimo lokalnim navikama i domaćem ukusu. Našu picu su probali ljudi iz
            različitih krajeva sveta, i slobodno možemo da kažemo da je pica koju smo
            stvorili svetska, a naša.
        </p>

        <p>
            Sakupljamo znanja iskusnih majstora kuhinje i ideja prerasta u nešto mnogo veće.
            Pažljivo biramo ljude koji rade sa nama i čine da Gallonero Tim bude
            neprikosnoven u svojoj delatnosti, kao i da pruži svojim sugrađanima
            sve ono što je falilo u našem gradu, a to je savršena ponuda hrane!
        </p>

        <p>I cena i kvalitet, Gallonero!</p>
</div>
</div>
