<div id="wrapper2">
    <div id="newsletter" class="container">
        <div class="title">
            <h2>Kontaktirajte nas</h2>
            <span class="byline">Budite slobodni da ostavite svoje sugestije ili kritike, pišite nam!</span>
        </div>
        <div class="content">
            <form method="post" action="#">
                <div class="row half">
                    <div class="6u">
                        <input type="text" class="text" name="name" placeholder="Ime" />
                    </div>
                    <div class="6u">
                        <input type="text" class="text" name="email" placeholder="Email" />
                    </div>
                </div>
                <div class="row half">
                    <div class="12u">
                        <textarea name="message" placeholder="Poruka"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="12u"> <a href="#" class="button submit">Pošalji</a> </div>
                </div>
            </form>
        </div>
    </div>
</div>