<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Sve vrste pica, rostilja, pečenja i kuvanih jela</h2>
            <span class="byline">Dostava na kucnu adresu u roku do 29 min!</span>
        </div>
        <div class="column1">
            <div class="box">
                <a href="#"><img src="../images/scr01.jpg" alt="" class="image image-full" /></a>
                <h3>Pice</h3>
                <p>Izbor od preko 10 vrsta pica. Možete odabrati sastojke po vašoj želji.</p>
                <a href="#" class="">@Html.ActionLink("Pogledaj ponudu", "Pice", "Home", new {@class= "button button-small" })</a>
            </div>
        </div>
        <div class="column2">
            <div class="box">
                <a href="#"><img src="../images/scr02.jpg" alt="" class="image image-full" /></a>
                <h3>Roštilj</h3>
                <p>Sve vrste roštilja, pripremljenog po leskovačkoj recepturi</p>
                <a href="#" class="button button-small">Pogledaj ponudu</a>
            </div>
        </div>
        <div class="column3">
            <div class="box">
                <a href="#"><img src="../images/scr03.jpg" alt="" class="image image-full" /></a>
                <h3>Pečenja</h3>
                <p>Naša pečenja su uvek vruća i sveže pripremljena. Jagnjetina i prasetina!</p>
                <a href="#" class="button button-small">Pogledaj ponudu</a>
            </div>
        </div>
        <div class="column4">
            <div class="box">
                <a href="#"><img src="../images/scr04.jpg" alt="" class="image image-full" /></a>
                <h3>Kuvana jela</h3>
                <p>Domaća kuvana jela, spremana po starim sprskim receptima.</p>
                <a href="#" class="button button-small">Pogledaj ponudu</a>
            </div>
        </div>
    </div>
</div>


<div id="wrapper1">
    <div id="welcome" class="container">
        <div class="title">
            <h2>Veliki izbor vina</h2>
            <span class="byline bela">renomiranih domaćih i stranih proizvođača</span>
        </div>
        <div class="content">
            <a href="#" class="button">Pogledajte kartu pića</a>
        </div>
    </div>
</div>