@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper3">
    <div id="portfolio" class="container">
        <div class="title">
            <h2>Sve vrste pica, rostilja, pečenja i kuvanih jela</h2>
            <span class="byline">Dostava na kucnu adresu u roku do 29 min!</span>
        </div>
        <div class="column1">
            <div class="box">
                <a href="#"><img src="../images/p1.png" alt="" class="image image-full" /></a>
                <h3>4 sobe</h3>
            </div>
        </div>
        <div class="column2">
            <div class="box">
                <a href="#"><img src="../images/p2.png" alt="" class="image image-full" /></a>
                <h3>Kaprićoza</h3>

            </div>
        </div>
        <div class="column3">
            <div class="box">
                <a href="#"><img src="../images/p3.png" alt="" class="image image-full" /></a>
                <h3>Cezar</h3>

            </div>
        </div>
        <div class="column4">
            <div class="box">
                <a href="#"><img src="../images/p4.png" alt="" class="image image-full" /></a>
                <h3>Margarita</h3>
            </div>
        </div>

    </div>
</div>
<div id="wrapper3" class="no-padding">
    <div id="portfolio" class="container">
        <div class="column1">
            <div class="box">
                <a href="#"><img src="../images/p5.png" alt="" class="image image-full" /></a>
                <h3>Pečenica</h3>
            </div>
        </div>
        <div class="column2">
            <div class="box">
                <a href="#"><img src="../images/p6.png" alt="" class="image image-full" /></a>
                <h3>Pršuta</h3>
            </div>
        </div>
        <div class="column3">
            <div class="box">
                <a href="#"><img src="../images/p7.png" alt="" class="image image-full" /></a>
                <h3>Slanina</h3>
            </div>
        </div>
        <div class="column4">
            <div class="box">
                <a href="#"><img src="../images/p8.png" alt="" class="image image-full" /></a>
                <h3>Pepperoni</h3>
            </div>
        </div>
    </div>
</div>