
<div id="menu">
    <ul>
        <li>@Html.ActionLink("Početna", "Index")</li>
        <li><a href="#wrapper3" accesskey="2" title="">Ponuda</a></li>
        <li>@Html.ActionLink("O nama", "About")</li>
        <li>@Html.ActionLink("Kontakt", "Contact")</li>
    </ul>
</div>